* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  color: #798d90;
  font: normal 15px Arial, sans-serif;
}

form {
  padding: 0 0 0 5%;
}

form input {
  padding: 0 0 0 10px;
}
.formulario {
  background-color: #f6f6f6;
  border: 1px solid #c4d6d8;
  margin: auto;
  transform: translateY(30%);
  width: 450px;
}
.formulario__title {
  color: #036873;
  font-size: 3em;
  margin: 10px 0;
  text-align: center;
}

#femail,
#fpassword {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.445);
  height: 30px;
  line-height: 30px;
  margin: 5px 0 20px 0;
  width: 95%;
}

#fsubmit {
  color: white;
  background-color: #3d9db3;
  border-radius: 5px;
  border: 1px solid #3d9db3;
  font-weight: 400;
  font-size: 20px;
  height: 40px;
  margin: 20px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
  width: 95%;
}

hr {
  border: 1px solid #c4d6d8;
  margin: auto;
  width: 80%;
}

.formulario form {
  margin: 25px 0 0 0;
}

label {
  color: #036873;
}

.formulario__bottom {
  background-color: #e1eaeb;
  height: 60px;
  line-height: 60px;
  margin: 10px 0 0 0;
  text-align: right;
}

.button__cadastro {
  color: white;
  background-color: #2ca8c4;
  border: 2px solid #d9e292;
  border-radius: 5px;
  font-size: 15;
  font-weight: 600;
  margin: 0 10px;
  padding: 1%;
}

.button__cadastro:hover {
  color: #2ca8c4;
  background-color: white;
}

a {
  text-decoration: none;
}
